<div class="content-builder">
    {% for block in content %}
        {% if block._group == "blockEditor" %}
            {% partial '@block.editor.htm' block=block %}
        {% elseif block._group == "blockImage" %}
            {% partial '@block.image.htm' block=block %}
        {% elseif block._group == "blockQuote" %}
            {% partial '@block.quote.htm' block=block %}
        {% elseif block._group == "blockVideo" %}
            {% partial '@block.video.text.htm' block=block %}
        {% else %}
            {% if this.environment == "dev" %}
                Block not found: "{{ block._group }}"
            {% endif %}
        {% endif %}
    {% endfor %}
</div>